In [ ]:
# 4.1 파이썬 내장 모듈 sqlite3

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect(':memory:')

In [ ]:
query = """
CREATE TABLE sales
(custom VARCHAR(20),
product VARCHAR(40),
amount FLOAT,
date DATE);
"""
con.execute(query)
con.commit()
# Transaction 은 무엇인가?

In [ ]:
data = [
    ('Ricahrd Lucas', 'Notepad', 2.50, '2014-01-02'),
    ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
    ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
    ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')
]
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [ ]:
cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()

In [ ]:
row_count = 0
for row in rows:
    print(row)
    row_count += 1
row_count

In [ ]:
# 4.1.1 테이블에 새 레코드 삽입하기

In [ ]:
import csv
import sys

In [ ]:
input_file = "supplier_data.csv"

In [ ]:
con = sqlite3.connect('Suppliers.db')
c = con.cursor()
create_table = """
CREATE TABLE IF NOT EXISTS Suppliers
(Supplier_Name VARCHAR(20),
Invoice_Number VARCHAR(20),
Part_Number VARCHAR(20),
Cost FLOAT,
Purchase_Date DATE);
"""
c.execute(create_table)
con.commit()

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("INSERT INTO Suppliers VALUES (?, ?, ?, ?, ?);", data)
con.commit()
print('')

In [ ]:
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

In [ ]:
# 4.1.2 테이블 내 레코드 갱신하기

In [ ]:
con = sqlite3.connect(':memory:')
query = """
CREATE TABLE sales
(customer VARCHAR(20),
product VARCHAR(40),
amount FLOAT,
date DATE);
"""
con.execute(query)
con.commit()
data = [
    ('Ricahrd Lucas', 'Notepad', 2.50, '2014-01-02'),
    ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
    ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
    ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')
]
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [ ]:
input_file = 'data_for_updating.csv'
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute('UPDATE sales SET amount=?, date=? WHERE customer=?;', data)
con.commit()

In [ ]:
output = con.execute("SELECT * FROM sales")
rows = output.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

In [ ]:
# 4.2 MySQL 데이터베이스

In [ ]:
import csv
import MySQLdb
import sys
from datetime import datetime, date

input_file = 'supplier_data.csv'

con = MySQLdb.connect(host='127.0.0.1', port=3306, db='my_suppliers', user='root', password='mysql')
c = con.cursor()

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        if column_index < 4:
            data.append(str(row[column_index]).lstrip('$').replace(',', '').strip())
        else:
            a_date = datetime.date(datetime.strptime(str(row[column_index]), '%m/%d/%y'))
            a_date = a_date.strftime('%Y-%m-%d')
            data.append(a_date)
        print(data)
    c.execute("""INSERT INTO Suppliers VALUES (%s, %s, %s, %s, %s);""", data)
con.commit()
print("")

In [ ]:
c.execute("SELECT * FROM Suppliers")
rows = c.fetchall()
for row in rows:
    row_list_output = []
    for column_index in range(len(row)):
        row_list_output.append(str(row[column_index]))
    print(row_list_output)

In [ ]:
# 4.2.2 테이블 검색 및 결과물을 CSV 파일로 출력하기

In [ ]:
import csv
import MySQLdb
import sys

output_file = '5output.csv'

con = MySQLdb.connect(host='127.0.0.1', port=3306, db='my_suppliers', user='root', password='mysql')
c = con.cursor()

In [ ]:
outputfile = open(output_file, 'w', newline='')
filewriter = csv.writer(outputfile, delimiter=',')
header = ['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
filewriter.writerow(header)

In [ ]:
c.execute("SELECT * FROM Suppliers WHERE cost > 700.0;")
rows = c.fetchall()
for row in rows:
    print(row)
    filewriter.writerow(row)
outputfile.close()

In [ ]:
# 4.2.3 테이블 내 레코드 갱신하기

In [ ]:
import csv
import MySQLdb
import sys
from datetime import datetime, date

input_file = 'data_for_updating.csv'

con = MySQLdb.connect(host='127.0.0.1', port=3306, db='my_suppliers', user='root', password='mysql')
c = con.cursor()

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(str(row[column_index]).strip())
    print(data)
    c.execute("""UPDATE Suppliers SET Cost=%s, Purchase_date=%s WHERE Supplier_Name=%s;""", data)
con.commit()
print("")

In [ ]:
c.execute("SELECT * FROM Suppliers")
rows = c.fetchall()
for row in rows:
    row_list_output = []
    for column_index in range(len(row)):
        row_list_output.append(str(row[column_index]))
    print(row_list_output)