In [ ]:
# 4.1 파이썬 내장 모듈 sqlite3

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect(':memory:')

In [ ]:
query = """
CREATE TABLE sales
(custom VARCHAR(20),
product VARCHAR(40),
amount FLOAT,
date DATE);
"""
con.execute(query)
con.commit()
# Transaction 은 무엇인가?

In [ ]:
data = [
    ('Ricahrd Lucas', 'Notepad', 2.50, '2014-01-02'),
    ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
    ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
    ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')
]
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [ ]:
cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()

In [ ]:
row_count = 0
for row in rows:
    print(row)
    row_count += 1
row_count

In [ ]:
# 4.1.1 테이블에 새 레코드 삽입하기

In [ ]:
import csv
import sys

In [ ]:
input_file = "supplier_data.csv"

In [ ]:
con = sqlite3.connect('Suppliers.db')
c = con.cursor()
create_table = """
CREATE TABLE IF NOT EXISTS Suppliers
(Supplier_Name VARCHAR(20),
Invoice_Number VARCHAR(20),
Part_Number VARCHAR(20),
Cost FLOAT,
Purchase_Date DATE);
"""
c.execute(create_table)
con.commit()

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("INSERT INTO Suppliers VALUES (?, ?, ?, ?, ?);", data)
con.commit()
print('')

In [ ]:
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

In [ ]:
# 4.1.2 테이블 내 레코드 갱신하기

In [ ]:
con = sqlite3.connect(':memory:')
query = """
CREATE TABLE sales
(customer VARCHAR(20),
product VARCHAR(40),
amount FLOAT,
date DATE);
"""
con.execute(query)
con.commit()
data = [
    ('Ricahrd Lucas', 'Notepad', 2.50, '2014-01-02'),
    ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
    ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
    ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')
]
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [ ]:
input_file = 'data_for_updating.csv'
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute('UPDATE sales SET amount=?, date=? WHERE customer=?;', data)
con.commit()

In [ ]:
output = con.execute("SELECT * FROM sales")
rows = output.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)